# Server-only Arc Testnet RPC transport configuration.
ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
ARC_TESTNET_RPC_FALLBACK_URL_1=https://rpc.drpc.testnet.arc.network
ARC_TESTNET_RPC_FALLBACK_URL_2=https://rpc.quicknode.testnet.arc.network
ARC_TESTNET_RPC_FALLBACK_URL_3=https://rpc.blockdaemon.testnet.arc.network

# Browser-safe Arc Testnet deployment configuration.
NEXT_PUBLIC_ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_ARC_TESTNET_EXPLORER_URL=https://testnet.arcscan.app
NEXT_PUBLIC_ARC_FACTORY_ADDRESS=0xc94503F5DcDc43B0a4693C689a7520ccfd2bA0fA
NEXT_PUBLIC_ARC_FEE_VAULT_ADDRESS=0x084b9a1a9ad2c46b9d200012dae39b83d5c24b05
NEXT_PUBLIC_ARC_USDC_ADDRESS=0x3600000000000000000000000000000000000000
NEXT_PUBLIC_ARC_STAGING_ADAPTER_ADDRESS=0x8f71AB54e51101C2fd04C656572782B2410577d5
NEXT_PUBLIC_ARC_EXAMPLE_TOKEN_ADDRESS=0x1385964841Fb1Cd3a1f4f553615320D375125290
NEXT_PUBLIC_ARC_EXAMPLE_POOL_ADDRESS=0xf6F0232b8b4544566AE8C9f3925E655A13556B29
