NODE_ENV=development
RUST_LOG=info
ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
ARC_ADMIN=
ARC_TREASURY=
ARC_LIQUIDITY_ADAPTER=
ARC_LIQUIDITY_RECIPIENT=
ARC_ADMIN_TRANSFER_DELAY=
ARC_VIRTUAL_USDC_RESERVE=
ARC_VIRTUAL_TOKEN_RESERVE=
ARC_BUY_FEE_BPS=
ARC_SELL_FEE_BPS=
ARC_GRADUATION_THRESHOLD=
ARC_MAX_METADATA_URI_LENGTH=
